*{

    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }

p {
    text-align: justify;
}

/* ENCABEZADO DE PÁGINA */
header {
    background-image: url(../MyFirstWebsite90/imagenes/fondo2.jpg);
    border: 0;
    padding: 40px 500px;
    margin: 0;
    width: auto;
    font-family:Arial;
    font-size: 42pt;
    font-weight: bolder;
    color: white;
    text-align: center;
}

#COLOURS-JLVP:hover{
    transform: scale(2.2);
    cursor: pointer;
    color:grey ;
}

.slider {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.slider ul {
    display: flex;
    animation: cambio 35s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    width: 400%;

}

.slider li {
    width: 100%;
    list-style: none;

}

.slider img {
    width: 97%;
    height: 40%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}

}

/* PANEL PRINCIPAL DE NAVEGACIÓN */

.path {
    background-image: url(../MyFirstWebsite90/imagenes/fondo2.jpg);
}


nav, aside {
    background-image: url(../MyFirstWebsite90/imagenes/fondo2.jpg);
}

nav ul, aside ul {
    /* border: 3px green solid; */

    
    overflow: hidden; /*Se necesita sino no funciona */
    text-align: right;
}

nav li a, aside li a {
    /* border: 1px purple solid; */
    display: block;
    margin: 5px;
    padding: 2px;
    color: pink;
    text-decoration: none;
}

nav li:hover, aside li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

main {
    /* border: 3px red solid; */
    background-color: lightgray;
    width: 100%;
    float: left;
    padding: 20px;
    margin: 0px 0px;
    
}

.container .slider {
    display: flex;
    background: pink;
    padding: 0px;
    width: 1300px;
    height: 140px;
    overflow: hidden; 
    scroll-behavior: smooth;   
  }
  .container .slider img {
      margin:2px;
  }

  .container .control {
      position: absolute;
      width: 50px;
      height: 50px;
      cursor: pointer;
      object-fit: cover;
      padding: 10px;
  }

  .container .prev{
      left:0;
      top: 50%;
      transform: translate(-10%, -90%);
  }

  .container .next{
      right: 0;
      top: 50%;
      transform: translate(-10%, -90%);
  }

.redes{
    background-color: black;
    text-align:left;
    align-items: left;
    text-decoration: wavy;
    color: wheat;   
    padding: 0%;
    align-items: left;
    margin: 0;
}

.borde{
    text-align: left;
    padding: 0;
    align-items: left;
    padding-left: 0%;
}


ul h4{
    text-align: left;
    padding-left: 2%;
    padding-top: 0%;
}

.redes li{
    display: inline-block;
    text-align: left;
    margin-top: 1px;
    padding-left: 30px;
    border-radius: inherit;

}

#redes li:hover {
    color: wheat;
    cursor: pointer;
}


.logo:hover{
    transform: scale(1.1);
}
main p {
font-family:  Georgia;
}

 footer {
    background-image: url(../MyFirstWebsite90/imagenes/fondo2.jpg);
    color: pink;
    clear: left;
    padding: 10px;
    margin: 0px;
    overflow: auto;
}

.foot {
    transform: scale(1.1);
    cursor: pointer;
}

.link:hover {
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

.link {
    font-weight: bolder;
    font-size: medium;
}

.footer_blocks {
    /* border: 2px white solid; */
    float: left;
    width: 33.33%;
    padding: 10px;
    margin: 0px;
}