*{

    box-sizing: border-box;
  }

p {
    text-align: justify;
}

/* ENCABEZADO DE PÁGINA */
header {
    background-image: url(../MyFirstWebsite90/imagenes/fondo2\ \(1\).jpg);
    border: 0;
    padding: 40px 500px;
    margin: 0;
    width: auto;
    font-family:cursive;
    font-size: 42pt;
    font-weight: bolder;
    color: pink;
    text-align: center;
}

/* PANEL PRINCIPAL DE NAVEGACIÓN */
nav, aside {
    /* border: 3px red solid; */
    background-color:black;
    

}

nav ul, aside ul {
    /* border: 3px green solid; */
    list-style-type:lower-latin;
    margin: 0px;
    padding: 0px;
    overflow: hidden; /*Se necesita sino no funciona */
}

#on_right {
    float: right;
}

nav li {
    float: left;
}


nav li a, aside li a {
    /* border: 1px purple solid; */
    display: block;
    margin: 0px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav li:hover, aside li:hover {
    background-color: pink;
}

aside {
    float: left;
    margin: 0px;
    padding: 50px 0px 0px 0px;
    width: 15%;
    height:2640px;
    /* border: 0px black dotted; */
}

main {
    /* border: 3px red solid; */
    background-color: #cac9bf;
    width: 100%;
    float: left;
    padding: 10px;
    margin: 0px 0px;
    /* overflow: hidden; */
}
.redes{
    text-align: right;
}
main p {
font-family:  Georgia;
}
main h1{
    font-family:Verdana;
    text-align: center;
    font-weight: bold;
}
h1 title{
    font-weight: bolder;
    text-align: center;
}
.letter{
    color: pink;
}
.subtitle{
  font-size: xx-large;
  font-weight: bolder;
  text-decoration-line: none;
}
.history{
    text-align: left;
    font-size: xx-large;
  font-weight: bolder;
  text-decoration-line: none;
}
article {
    /* border: 2px green solid; */
    background:lightskyblue;
}

section {
    /* border: 1px blue solid; */
    background:rgb(58, 59, 59);
    margin: 10px; /* 10px 10px 0px 50px */
    padding: 10px 30px;
    color: white;
}

code {
    /* border: 1px purple solid; */
    color:rgb(255, 0, 162);
    background-color:pink;
    padding: 3px;
    font-weight:bold;
    display: block;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.my_puppies {
    width: 33.33%;
    float: left;
    margin: 0px;
    padding: 5px;
    font-size: small;
    font-style: italic;
    text-align: center;
    
}

.centered_image {
    /* border: 2px darkblue solid; */
    overflow: auto;
    /*margin: 0px auto; Para centrar pero no sirve ho he podido
     ya que los elementos se juntan con left. EL bloque se centra 
     pero internamente no. El paddign no sirve*/
}

table {
    width: 80%;
    margin: 0 auto; /* Para centrar */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    border-collapse: collapse;
    text-align: center;
}

/* table, th, td {
    border: purple 1px solid;
    border-collapse: collapse;
    text-align: center;
} */

th {
    background-color: #04AA6D;
    color: white;
}

th, td {
    padding: 5px;
}

table tr:nth-child(even) {
    background-color: #eee;
}


table tr:hover {
    background-color: #ddd;
}

 footer {
    background-image: url(../MyFirstWebsite90/imagenes/fondo2\ \(1\).jpg);
    color: pink;
    clear: left;
    padding: 10px;
    margin: 0px;
    overflow: auto;
}

.footer_blocks {
    /* border: 2px white solid; */
    float: left;
    width: 33.33%;
    padding: 10px;
    margin: 0px;
}

