* {
    margin: 30px 150px;
    background-color: cornflowerblue;
}
.title{
text-align: center;
font-size: larger;
font-style: oblique;
}
.datos{
    text-align: left;
    border-color: darkblue;
    border-style: round;
    background-position: left;
}

.ingreso{

 border-color: darkblue;
 border-style: dotted;
}


.footer{

    text-align: justify; 
    font-size: large;
    border-style: hidden;

}


.footer,img{

     border-image-width: 70%; 
     image-orientation: left;
}