* {
    margin: 30px 150px;
    background-color: white;
}
.title{
text-align: center;
font-size: larger;
font-style: oblique;
}
.datos{
    text-align: left;
    border-color: black;
    border-style: double 10px;
    background-position: left;
}

.ingreso{

 border-color: black;
 border-style: dotted 10px;
}


.footer{

    text-align: justify; 
    font-size: large;
    border-style: hidden;

}


.footer,img{

     border-image-width: 70%; 
     image-orientation: left;
}