* {
    margin: 30px 150px;
    background-color: cornflowerblue;
}
body{

    margin: 30px 150px;
    background-color: cornflowerblue;
}

.datos{
    
    border-color: darkblue;
    border-style: round;

}

.ingreso{

 border-color: darkblue;
 border-style: dotted;
}


.footer{

    text-align: left; 
    font-size: smaller;
    border-style: hidden;

}


.footer,img{

     border-image-width: 70%; 
     image-orientation: from-image;
}