*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: Georgia;
    background:url(../imagenes/fondo2\ \(1\.jpg);

}

.imgs{
   width: 5%;
   height: 20px;
   width: 5px;
    padding:0;  
    margin-left: 0;
}

.imgs:hover{
    transform: scale(1.1);
}
.aside{
    align-items: flex-start;
}

.form_login{
    width: 700px;
    height: 622px;
    background-color: #4e4d4d;
    margin: auto;
    margin-top: 283px;
    box-shadow: 7px  13px 37px black;
    padding: 10px;
    border-top: 0px solid white ;
    color:  #017bab;
    overflow: scroll;
    margin-right: 0;
    margin-block-start: auto;
}

.form_login h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: solid;
    font-size: 20px;
}

.controls{
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
}

.buttons{
    width: 100%;
    height: 40px;
    border: none #017bab; ;
    margin-bottom: 16px;
    text-decoration-color: black;
}

.label {
    width: 100%;
    border: 1px solid;
    margin-bottom: 15px;
    padding: 11px 15px;
    background: #017bab;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.fielset.entrar{
    width: 100%;
    height: 40px;
    border: none  ;
    margin-bottom: 16px;
    background: #4e4d4d;
    color: #017bab;
    

}
.push{
   font-style: normal; 
   border: #252323;
   background-color: white;
   height: auto;
   width: auto;
   contain: content;
   padding-top: 1px;
   border-radius: 2px;
   text-align: center;
}

.push:hover{
    color: darkorchid;
    border: dashed;
    border-style: hidden;
    text-decoration: unset;
    transform: matrix(1.1); 
}

.clic:hover{
    color: darkorchid;
    border: dashed;
    border-style: hidden;
    text-decoration: unset;
    transform: matrix(1.1);

}

.form_login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
    border-top: #017bab;
}

.form_login a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form_login a:hover{
    text-decoration: overline;
    color: darkorchid;
    text-align: center;
    font-style: oblique;
}

.form_login .p .botton{
    text-decoration: overline;
    color: darkorchid;
    text-align: center;
    font-style: oblique;
    border-radius: inherit;
}

.pie{
    width: 100%;
    border: 1px none;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #017bab;
    font-size: 15px;
    font-weight: bold;  
    font-family: Georgia;
}